.main-content{
    .card{
        width: 400px;
        // background-color: rgb(f,00); /* Fallback color */
        // background-color: rgba(255, 255, 255, 0.952); /* Black w/opacity/see-through */
        background-color: rgba(255, 255, 255, 0.6);
        font-weight: 900 ;
        border: 3px solid #f1f1f1;
        box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.75);
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
        }

        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }
    }
    background-image: url(../../assets/images/wp3202170.jpg);
    background-repeat: no-repeat;
    background-size: cover;

    
}





